.shop-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 15px;
    border-bottom: 1px solid #b6b6b6;
    &__title{
        font-size: 2.4em;
        color: #000;
        &:hover{
            color: #000;
        }
    }
    &__cart{
        margin-left: auto;
        font-size: 1.4em;
        color: #000;
        &:hover{
            color: #000;
        }
        i{
            color: #007bff;
            margin-right: 15px;
            font-size: 2em;
        }
    }
}

@media screen and (max-width: 575.98px){
    .shop-header{
        font-size: 0.8rem;
    }
}