.error-indicator{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 60px;
}
.error-indicator__title{
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}
.error-indicator__text{
    display: block;
    width: 300px;
    color: #fff;
    text-align: center;
}