body{
    background-color: rgb(41, 41, 41);
}
h1, h2{
    color: #fff;
}
.stardb{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px 30px;
}

a{
    color: rgb(209, 179, 9);
    transition: all .18s ease-in-out;
}
a:hover{
    color: rgb(255, 248, 146);
    text-decoration: none;
}