.header{
    margin-top: 20px;
    margin-bottom: 20px;
}
.header__title{

}
.header__link{
    margin: 0;
    padding: 0;
}
.header__nav{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__nav-link{
    position: relative;
    display: block;
    width: auto;
    height: 100%;
    padding: 4px 10px;
    border-radius: 4px;
    overflow: hidden;
}
.header__nav-link::after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(209, 179, 9); 
    z-index: -1;
    transition: all .2s ease-in-out;
}
.header__nav-link + .header__nav-link{
    margin-left: 10px;
}
.header__nav-link:hover{
    color: rgb(41, 41, 41);
}
.header__nav-link:hover::after{
    left: 0;
}
.active{
    color: rgb(41, 41, 41);
}
.active::after{
    left: 0; 
}