.book-item{
    &__figure{
        position: relative;
        width: 100%;
        min-height: 200px;
    }
    &__loading-img{
        position: absolute;
        top: 0;
        left: 15px;
        width: calc(100% - 30px);
        height: 500px;
        border-radius: 4px;
        background-color: #fff;
        overflow: hidden;
        transition: all 0.3s ease;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #17a2b8;
            animation: loading 1s ease-in-out infinite;
        }
    }
    &__img{
        max-width: 100%;
        border-radius: 6px;
    }
    &__about-product{

    }
    &__title{

    }
    &__price{
        font-weight: bold;
        font-size: 2rem;
    }
    &__discription{

    }
}

@keyframes loading {
    from {
        top: -100%;
    }
    to {
        top: 100%;
    }
}